body {
    background-color: black;
}

.container {
    width: 320px;
    height: 100px;
    border:none;
    border-radius: 5px;
    background-color: #1F2937; 
    padding: 100px 144px 355px 80px;
    margin: 100px 0px 0px 430px; 
    display: flex;
    flex-direction: column;
    align-content: center;



}

h1 {
    font-weight: 800px;
    font-family: Karla, sans-serif;
    font-size: 40px;
    color: white;
    width: 354px;
    height: 80px;
}

h1 span {
    color: #34D399; 
}

h2 {
    color: #D5D4D8; 
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

button { 
    color: white; 
    background-color: #34D399; 
    font: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    border: none;

}

#password1-el, #password2-el {
    color: rgb(83, 116, 177);
    background-color: #273549;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 12px;
    width: 200px;
    height: 30px;
    border: none;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.passwords {
    display: flex;
    align-content: center;
    gap: 15px;
}

hr {
   margin: 20px 0px 0px 20px; 
   border: none;
   border-top: 1px solid rgb(72, 70, 78);
}